{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: linear-gradient(red,white,green);">
    <div class="box1" style=" background: linear-gradient(rgb(255, 0, 0), white,yellow, white, green ); width: 40%; height: 430px; margin: auto; border: 5px solid; text-align: center; margin-top: 64.5px; margin-bottom: 60px; padding: 20px; border-radius: 20px;" >
    <form action="" method="post" style="margin-top: 60px;" enctype="multipart/form-data">
        {% csrf_token %}
        <label style="font-size: 25px;">Title</label>
        <input style="padding: 10px;" type="text" name="title" value="{{ book.title }}" ><br><br><br>
    <label style="font-size: 25px;" for="">Quantity</label>
    <input style="padding: 10px;" type="text" name="quantity"  value="{{book.quantity}}"><br><br>

    <label style="font-size: 25px;" for="">price</label>
    <input style="padding: 10px;" type="text" name="price"  value="{{book.price}}"><br><br>

        
    <label  for="">photo</label>
    <input type="file" name="photo"><br><br><br>

    <label  for="">video</label>
    <input  type="file" name="video"><br><br><br>

    <button style="padding: 10px 45px; background-color: black; color: white; border-radius: 25px;" type="submit">Save</button>

    </form>

    </div>
</body>
</html>

